footer.footer
    .container
        .row.align-items-center
            .col-3
                a.footer__logo(href="#")
            .col-9
                nav.list.list_icon
                    .list__item.list_icon__place Санкт-Петербург, Выборгская наб дом 15
                    .list__item.list_icon__mail
                        a.list__link(href="#") info@mail.ru
                    .list__item.list_icon__phone
                        a.list__link(href="#") 8 800 900-10-10
.footer-additionally
    .container
        .row
            .col-6
                p.footer-additionally__text © 2019. Все права защищены
            .col-6.text-right
                p.footer-additionally__text Сайт разработан 
                    a.footer-link(href="#") студией «SOHO»            