header.header
    .header__top
        .container
            .row
                .col-6
                    nav.list.list_circle
                        .list__item
                            a.list__link(href="/delivery.html") Доставка и оплата
                        .list__item
                            a.list__link(href="/contact.html") Контакты
                .col-6.text-right
                    ul.list.list_contacts
                        li.list__item
                            a.list__link(href="mailto:#") info@mail.ru
                        li.list__item Санкт-Петербург
    .header__bottom
        .container
            .row.align-items-center
                .col-6
                    a.header__logo(href="/")
                .col-6.text-right
                    a.header__phone(href="88009001010") 8 800 900-10-10