.slider{
    position: relative;
    .slider__image{
        .slick-prev, .slick-next{
            top: 50%;

            background: $blue;
            
            width: 44px;
            height: 44px;
            border: 2px solid $white;
            border-radius: 22px;
            z-index: 2;

            transition: .3s;
        
            &:before{
                content:'';
            }
        }
        .slick-prev{
            left: 0;
            transform: translateX(-22px) translateY(-22px);
            background: $blue url("/img/left-arrow_w.svg") no-repeat center / 20px;
            &:hover{
                background: $dark-blue url("/img/left-arrow_w.svg") no-repeat center / 20px;
            }
        }
        .slick-next{
            right: 0;
            transform: translateX(22px) translateY(-22px);
            background: $blue url("/img/right-arrow_w.svg") no-repeat center / 20px;
            &:hover{
                background: $dark-blue url("/img/right-arrow_w.svg") no-repeat center / 20px;
            }
        }
    }
    .slider__nav{
        margin-top: 20px;
        .slick-track{
            margin-left: 0;
            .slider__item{
                margin-right: 20px;
                opacity: .6;

                &.slick-current{
                    opacity: 1;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
    .slider__item{
        width: 100%;
        height: auto;
    }
    &_for{
        margin-bottom: 40px;
    }
    &_list{
        .slick-prev, .slick-next{
            opacity: .4;
            &:hover, &:focus{
                opacity: 1;
            }
        }
        .slick-prev{
            left: auto;
            right: 44px;
        }
        .slick-next{
            right: 0;
        }
    }
    // Slick
    .slick-slide{
        height: auto;
        outline: none;
        &:hover, &:focus{
            outline: none;
        }
    }
    .slick-prev, .slick-next{
        width: 44px;
        height: 44px;

        z-index: 99;
        &:before{
            content:'';
        }
    }
    .slick-prev{
        background: url("/img/left-arrow_w.svg") no-repeat center / 20px;
    }
    .slick-next{
        background: url("/img/right-arrow_w.svg") no-repeat center / 20px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .slider{
        &_list{
            padding-right: 88px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .slider{
        .slider__image{
            .slick-next{
                right: 10px;
            }
            .slick-prev{
                left: 10px;
            }
        }
    }
}
