.table{
    max-width: 100%;

    .table-row{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .table-col{
        padding: 16px 20px;
    }
    &_contact{
        background: rgba(255,255,255,0.1);
        .row + .row{
            border-top: 1px solid $light-blue;
        }
        .table-row{
            justify-content: flex-start;
            .table-row__label{
                padding: 20px;
                text-transform: uppercase;
                color: #d7d1d1;
                flex: 0 0 160px;
                max-width: 160px;
            }
            .table-row__value{
                flex: 0 0 calc(100% - 160px);
                max-width: calc(100% - 160px);
                padding: 20px;
            }
        }
        .link-inverse{
            text-decoration: underline;
            &:hover{
                color: $white;
            }
        }
    }
    &_striped{
        .table-row:nth-child(2n){
            background: #f8f8f8;
        }
        .table-row:nth-child(2n+1){
            background: $light-grey;
        }
    }
    &_small{
        .table-col{
            padding: 8px 20px;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .table{
        &_contact{
            .table-row{
                flex-wrap: wrap;
                padding-top: 20px;
                padding-bottom: 20px;
                & + .table-row{
                    padding-top: 0px;
                }
                .table-row__label{
                    width: 100%;
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
                .table-row__value{
                    padding-top: 6px;
                    padding-bottom: 0px;
                }
            }
        }
    }
}