.footer{
    padding: 30px 0;
    background: $dark-blue;
    color: $white;
    font-size: 12px;

    .list{
        display: flex;
        flex-wrap: wrap;
        .list__link{
            color: $white;
            &:hover{
                color: $link-hover-color;
            }
        }
        &_icon{
            justify-content: flex-end;
            .list__item{
                & + .list__item{
                    margin-left: 42px;
                }
            }
        }
    }
    .footer__logo{
        height: 54px;
        width: 210px;
        max-width: 100%;
        background: url("../img/logo-light.svg") no-repeat left center / contain;
    }

    &-additionally{
        padding: 6px 0;
        color: $light-text;
        background: $light-blue;
        .footer-additionally__text{
            font-size: 12px;
            line-height: 1;
            margin: 0;
            padding: 6px 0;
        }
        .footer-link{
            color: $light-text;
            &:hover{
                color: $link-hover-color;
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .footer{
        .list_icon{
            .list__item{
                & + .list__item{
                    margin-left: 20px;
                }
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .footer{
        .footer__logo{
            display: block;
            margin: 0 auto 20px;
        }
        .list_icon{
            justify-content: center;
            .list__item{
                margin: 2px 20px;
            }
        }

        &-additionally{
            padding: 12px 0;
        }
    }
}