.content{
    padding: 80px 0;

    .content__inside{
        width: 900px;
        max-width: 100%;
        margin: 0 auto;

        font-size: 16px;
        line-height: 1.7;

        ul{
            list-style: none;
            @extend .list_circle;
            li{
                @extend .list__item;
                padding-left: 0;
                & + li{
                    margin-top: .5rem;
                }
                &:before{
                    left: -1.75rem;
                    top: 10px;
                }
            }
        }
        ol{
            list-style-type: none;
            counter-reset: num;
            li{
                position: relative;
                & + li{
                    margin-top: .5rem;
                }
                &:before {
                    content: counter(num) '. ';
                    counter-increment: num;
                    color: $dark-orange;
                    font-weight: 700;

                    position: absolute;
                    left: -1.75rem;
                    top: 0px;
                }
            }
        }
    }

    &_bg-grey{
        background: $light-grey url("../img/line-black.svg") left top / 60px;
    }
    &_card{
        padding: 40px 0;
        .nav{
            margin-top: 40px;
        }
    }
}

.map{
    max-width: 100%;
    overflow: hidden;
}