.garant{
    background: $light-grey url("../img/line-black.svg") left top / 80px;
    padding: 80px 0;
    .garant__title{
        font-size: 46px;
        font-weight: 300;
        .text-bold{
            font-weight: 900;
        }
    }
    .garant__offer{
        font-size: 18px;
        font-weight: 300;
        line-height: 24px;
        width: 420px;
        max-width: 100%;
    }
    .list{
        margin-top: 35px;
    }
    .form{
        margin-top: 60px;
    }
}