.header-block{
    background: $blue url("../img/line.svg") left top / 60px;
    padding: 180px 0 120px;
    margin-top: -150px;
    color: #d7d1d1;
   
    .header-block__title{
        font-size: 42px;
        font-weight: 300;
        color: $white;
        .text-bold{
            font-weight: 700;
        }

        & + .header-block__offer {
            margin-top: 42px;
        }
    }
    .header-block__offer{
        margin-bottom: 0;
    }

    &_inside{
        padding-bottom: 90px;
        .header-block_inside__title{
            @extend .h4;
            font-weight: 700;
            margin-bottom: 60px;
        }
    }
    &_error{
        min-height: calc(100vh - 192px);
        .header-block__title{
            font-size: 160px;
            line-height: 120px;
            font-weight: 700;
        }
        .lead{
            font-size: 18px;
            line-height: 24px;
            &:last-child{
                margin-bottom: 0;
            }
        }
        .link-inverse{
            &:hover{
                color: $white;
            }
        }
    }
    &_card{
        padding-bottom: 1.5rem;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .header-block{
        .header-block__title{
            font-size: 30px;
            & + .header-block__offer {
                margin-top: 0px;
            }
        }
        &_error{
            .header-block__title{
                font-size: 100px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header-block{
        padding-bottom: 60px;
        .header-block__title{
            & + .header-block__offer {
                margin-top: 42px;
                margin-bottom: 40px;
            }
        }

        &_error{
            .header-block__title{
                font-size: 72px;
            }
        }
        &_card{
            padding-bottom: 1.5rem;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header-block{
        .header-block__title{
            font-size: 26px;
            & + .header-block__offer {
                margin-top: 0px;
                margin-bottom: 40px;
            }
        }
        &_error{
            .header-block__title{
                font-size: 100px;
                margin-bottom: 20px;
            }
        }
        &_inside{
            .header-block_inside__title{
                margin-bottom: 40px;
            }
        }
        &_card{
            padding-bottom: 1.5rem;
            h1.h3{
                font-size: 1rem;
            }
            .list_check{
                .list__item{
                    padding: 10px 0;
                    padding-left: 60px;
                }
            }
        }
    }
}