.table{
    width: 100%;
    &_dark-color{
        background: rgba(255,255,255,0.1);
        color: $white;

        a{
            color: $white;
            &:hover{
                color: $link-hover-color;
            }
            &.link-inverse{
                color: $orange;
                &:hover{
                    color: $white;
                }
            }
        }
    }

    .row + .row{
        border-top: 1px solid $dark-blue;
    }
}
.table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.table-row{
    display: flex;
    flex-wrap: nowrap;
    .table-row__label{
        padding: 18px 20px;
        text-transform: uppercase;
        color: $grey;

        flex: 0 0 30%;
        max-width: 30%;
    }
    .table-row__value{
        padding: 18px 20px;
        flex: 0 0 70%;
        max-width: 70%;
    }
}