html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Basic Page

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')
    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        .header-block
            .container
                .row.align-items-center
                    .col-7
                        h1.header-block__title 
                            span.text-bold Всегда в наличии. 
                            span Доставка через 3 часа. Только новые контейнеры и бытовки.
                        p.header-block__offer Возьмите в аренду блок-контейнеры бытовки под ключ на любой срок. Это выгодно и просто: не нужно обслуживать, ремонтировать и продавать после использования.
                    .col-5
                        img.img-fluid(src="../img/schema.png" alt="" title="")
        .catalog
            .container
                .row
                    .col-6
                        a.catalog__item(href="/card.html")
                            .catalog__image(style="background-image: url('../img/demo-1.png');")
                            .catalog__title Бытовка «Стандарт»
                            ul.list.list_circle
                                li.list__item в наличии: 
                                    span.text-bold 12 шт.
                    .col-6
                        a.catalog__item(href="/card.html")
                            .catalog__image(style="background-image: url('../img/demo-2.png');")
                            .catalog__title Бытовка «С тамбуром»
                            ul.list.list_circle
                                li.list__item в наличии: 
                                    span.text-bold 12 шт.
                    .col-6
                        a.catalog__item(href="/card.html")
                            .catalog__image(style="background-image: url('../img/demo-3.png');")
                            .catalog__title Контейнер 20 футов
                            ul.list.list_circle
                                li.list__item в наличии: 
                                    span.text-bold 12 шт.
                    .col-6
                        a.catalog__item(href="/card.html")
                            .catalog__image(style="background-image: url('../img/demo-4.png');")
                            .catalog__title Контейнер 40 футов
                            ul.list.list_circle
                                li.list__item в наличии: 
                                    span.text-bold 12 шт.
        .garant
            .container
                .row.align-items-center
                    .col-7
                        p.garant__title.h2 
                            span.text-bold.text-gradient Гарантируем 
                            | выполнение&nbsp;обязательств
                        p.garant__offer Подписываем договор, соответствующий всем требованиям законодательства и&nbsp;РФ
                        ul.list.list_step
                            li.list__item 
                                span.list__info соблюдаем оговоренные сроки работ 
                                span.list__number.text-gradient 01 —
                            li.list__item 
                                span.list__info называем окончательную стоимость
                                span.list__number.text-gradient 02 —
                            li.list__item
                                span.list__info нужная комплектация и&nbsp;конструкция
                                span.list__number.text-gradient 03 —
                        form.form(action="")
                            .form-group.form-group_inline
                                input.input.phone(type="tel" placeholder="Номер телефона")
                                button.btn.btn_cta 
                                    span.btn__inside Проконсультироваться
                            .form__agree.checkbox.text-small
                                input.checkbox__input#policy(type="checkbox" checked="")
                                label.checkbox__label(for="policy") согласен с обработкой 
                                    a.checkbox__link(href="/privacy.pdf" title="Соглашение на обработку персональных данных") персональных данных
                    .col-5
                        img.mr-0.img-fluid(src="../img/demo-doc.png")
        .content
            .container
                .row.justify-content-center.align-items-center
                    .col-2.text-center
                        .modal-open(data-fancybox data-src="#hidden-content") +
                    .col-8
                        p.mb-0 Изготавливать строительные блок контейнеры наиболее целесообразно из металла. Таким образом, конструкция получается более прочной и устойчивой к внешним воздействиям. В качестве материала для сварного каркаса используются металлические профиля. В качестве внешней оболочки изготовитель бытовки может использовать оцинкованную сталь или листы профнастила с полимерным или лакокрасочным покрытием в качестве защиты от коррозии. Внутри помещение обшивается пластиковой или деревянной вагонкой, ДСП, OSB или другими листовыми материалами, имеющими высокую прочность и износостойкость.
        include chunks/footer.pug
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/app.min.js")
        .modal#hidden-content
            .modal__content
                p Изготавливать строительные блок контейнеры наиболее целесообразно из металла. Таким образом, конструкция получается более прочной и устойчивой к внешним воздействиям. В качестве материала для сварного каркаса используются металлические профиля. В качестве внешней оболочки изготовитель бытовки может использовать оцинкованную сталь или листы профнастила с полимерным или лакокрасочным покрытием в качестве защиты от коррозии. Внутри помещение обшивается пластиковой или деревянной вагонкой, ДСП, OSB или другими листовыми материалами, имеющими высокую прочность и износостойкость.
                p Изготавливать строительные блок контейнеры наиболее целесообразно из металла. Таким образом, конструкция получается более прочной и устойчивой к внешним воздействиям. В качестве материала для сварного каркаса используются металлические профиля. В качестве внешней оболочки изготовитель бытовки может использовать оцинкованную сталь или листы профнастила с полимерным или лакокрасочным покрытием в качестве защиты от коррозии. Внутри помещение обшивается пластиковой или деревянной вагонкой, ДСП, OSB или другими листовыми материалами, имеющими высокую прочность и износостойкость.
                p.mb-0 Изготавливать строительные блок контейнеры наиболее целесообразно из металла. Таким образом, конструкция получается более прочной и устойчивой к внешним воздействиям. В качестве материала для сварного каркаса используются металлические профиля. В качестве внешней оболочки изготовитель бытовки может использовать оцинкованную сталь или листы профнастила с полимерным или лакокрасочным покрытием в качестве защиты от коррозии. Внутри помещение обшивается пластиковой или деревянной вагонкой, ДСП, OSB или другими листовыми материалами, имеющими высокую прочность и износостойкость.